body{
    font-family: "Montserrat", sans-serif;
}

div#users-contact,
div#user-chat{
    height: 90vh;
}

div#users-contact{
    background-color: bisque;
}

div#user-chat{
    background-color: rgb(153, 102, 40);
}

div.header-chat,
div.footer-chat{
    height: 50px;
    background-color: aquamarine;
}

div.notification-banner{
    height: 60px;
}


img.avatar-img{
    width: 15%;
    border-radius: 50%;
}