body{
    font-family: "Montserrat", sans-serif;
}

main{
    height: 100vh;
}

/* CLASSI GENERALI */
div.avatar-img{
    width: 45px;
    height: 45px;
}

div.user-text-info p{
    font-size: 0.9rem;
    text-transform: capitalize;
}

div.user-text-info a{
    font-size: 0.7rem
}

div.account-option i{
    color: rgb(194, 186, 186);
}

/* COLONNA DESTRA E COLONNA SINISTRA*/
section#users-contact,
section#user-chat{
    height: 95vh;
}

section#users-contact{
    background-color: bisque;
    border-right: 1px solid black;
}

section#user-chat{
    background-color: rgb(153, 102, 40);
}

/* BANNER DELLE NOTIFICHE */
div.notification-banner{
    background-color: rgb(0, 204, 255);
}

div.notification-banner span#notification-icon{
    display: inline-block;
    min-height: 40px;
    min-width: 40px;
    background-color: white;
    border-radius: 50%;
}

div.notification-banner span#notification-icon i.fa-bell-slash{
    left: 50%;
    top: 50%;
    color: rgb(0, 204, 255);
    transform: translate(-50%, -50%);
}

div.notification-banner div#notification-text{
    font-size: 0.7rem;
}

/* COLONNA DESTRA */
div.header-user-chat,
div.footer-user-chat{
    height: 60px;
    background-color: aquamarine;
}

/* SEZIONE CENTRALE  */
section#user-chat div.main-user-chat{
    height: calc(100% - 120px);
    background-color: blue;
}

div.main-user-chat div.message{
    height: 45px;
} 

div.main-user-chat div.received-message{
    background-color: white;
}

div.message span{
    font-size: 0.8rem;
}



/* SEZIONE BASSA */
div.footer-user-chat input{
    width: 85%;
}